<!DOCTYPE html>
<html>
<head> 
	{{#each recipeEntries}} 
  <title>{{this.recipe_name}} </title>
</head>
<body>
   <h1>{{this.recipe_name}}</h1>
<div> 
	<h2>{{this.description}}</h2>
	<p>Index: {{this.id}}</h1> 
	<p>Contributor: {{this.contributor}}</p>
	<p>Category: {{this.category}}</p>
	<p>Source: {{this.source}}</p>
	<p>Spice rating: {{this.rating}}</p>
	
	<p>Spices: {{this.spices}}</p>
	<h2>Ingredients: {{this.ingredients}}</h2>
	<h2>Directions: {{this.directions}}</h2>
	{{/each}} 
</div>
</body>
</html>
